body {
    background: rgb(153, 99, 189); /* Цвет фона */
    color: black; /* Цвет текста */
    margin-left: 20px;
}

form {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

input:required:valid { 
    border-color: green;
}

.divStyle{
    margin-top: 10px; 
    margin-bottom: 10px;
}

.fieldsetStyle1{
    width: 200px; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

.fieldsetStyle2{
    width: 230px; 
    height: 160px; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

.fieldsetStyle3{
    width: 500px;
}
